@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
  margin:0;
  padding:0;
  font-family:"Poppins";
  background-color:#eee;
}

*{
  box-sizing: border-box;
}

form{
  display: block;
  background-color:#fff;
  box-shadow: 1px 1px 3px 2px #ddd;
  margin:40px auto;
  max-width:400px;
  max-height:600px;
  padding:20px;
}

form input,textarea{
  display:flex;
  flex-direction: column;
  width:100%;
  /* margin:10px auto; */
  padding:10px;
  font-family: "Poppins";
  background-color: #f3f3f3;
  border: 1px solid #ddd;
}

/* form span{
  color:rgb(29,185,237);
} */

form button{
  height:25px;
  width:60px;
  align-items:center;
  border:none;
}